.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
**/a.out
.vscode/
**/build/
testdir/
**/*.exe
**/*.dll
**/*.so
**/*.bin
**/*.o
**/*.a
**/*.out
**/*.class
test/
*.bak
resume.*